@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
    url("../fonts/web/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/web/opensans.woff2") format("woff2"),
    url("../fonts/web/opensans.woff") format("woff");
}

body {
  margin: 0;
  /* background-image: url(../maket/preview/device-index.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: top center; */
  font-family: "Open Sans";
  font-weight: 300;
}
.logo {
  position: absolute;
  transform: translate(36%, -47%);
}
.navigation {
  width: 1160px;
  height: 299px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f8e295;
  position: relative;
  margin-top: 40px;
}
.menu {
  width: 1050px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  padding-top: 47px;
}
.search__field {
  border: 0;
  background: none;
  opacity: 30%;
  padding-left: 4px;
}
.user__text,
.compare__text,
.cart__text {
  padding-left: 4px;
}
.search,
.search__icon,
.goods,
.user,
.compare,
.cart,
.delivery_btn,
.guarantee_btn,
.contact_btn {
  background: none;
  border: 0;
}
.goods__text,
.delivery__text,
.guarantee__text,
.contact__text {
  text-transform: uppercase;
}
.col-1 {
  width: 50%;
}

.col-2 {
  width: 50%;
}
.col-3 {
  display: flex;
}
.account {
  flex-grow: 1;
}

.col-4 {
  display: flex;
  padding-top: 50px;
}
.contact {
  flex-grow: 1;
  text-align: end;
}
.catalog {
  padding-top: 50px;
}
