@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
    url("../fonts/web/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/web/opensans.woff2") format("woff2"),
    url("../fonts/web/opensans.woff") format("woff");
}

body {
  margin: 0;
  /* background-image: url(../maket/preview/device-index.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: top center; */
  font-family: "Open Sans";
}
a {
  text-decoration: none;
  color: #000;
}
.logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border: 0;
}
.container {
  width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}
.navigation {
  height: 299px;
  background-color: #f8e295;
  position: relative;
  margin-top: 40px;
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 50px;
}
.menu {
  display: flex;
}

.btn {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.btn__text {
  padding-left: 11px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.15px;
  font-size: normal;
}
.link {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 3px;
}
.submenu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.submenu__link:last-child {
  justify-content: flex-start;
}
.submenu__item {
  height: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.submenu__link {
  font-family: "Open Sans";
  font-weight: 300;
}

.menu__cell {
  width: 50%;
}
.menu__row {
  display: flex;
}
.account {
  margin-right: auto;
  margin-left: 15px;
}
.contact {
  margin-left: auto;
}
.menu__row:last-child {
  margin-top: 43px;
}
.cart {
  padding-left: 70px;
}
.delivery {
  padding-left: 15px;
}
.guarantee {
  padding-left: 50px;
}
.catalog {
  padding-top: 45px;
}
.plus {
  vertical-align: middle;
}
.slider {
  transform: none;
  padding-top: 5%;
  margin: 0;
}
.slider__wrapper {
  width: 50%;
}
.slider__items {
  display: flex;
}
.slider__img {
  padding-left: 6%;
}
.slider__decoration {
  position: relative;
  display: flex;
}
.slider__line {
  background-image: url(../images/slider-line.png);
  background-repeat: no-repeat;
  width: 100px;
  background-position: center;
}
.slider__number {
  background-image: url(../images/slider-number.png);
  background-repeat: no-repeat;
  height: 131px;
  width: 316px;
  margin-left: auto;
  background-position: right;
}
.slider__description {
  position: absolute;
  top: 250px;
}
.slider__text p {
  font-family: "Open Sans";
  font-weight: 300;
}
.slider__header h1 {
  font-family: "Open Sans";
}
.slider__more {
  top: 170%;
}
.slider__link {
  position: relative;
  z-index: 1;
}
.slider__link::before {
  display: block;
  width: 100%;
  height: 8%;
  background-color: #f8e295;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
