@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
    url("../fonts/web/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/web/opensans.woff2") format("woff2"),
    url("../fonts/web/opensans.woff") format("woff");
}

body {
  margin: 0;
  /* background-image: url(../maket/preview/device-index.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: top center; */
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: #000;
}
p {
  padding: 0;
  margin: 0;
  cursor: default;
}
h1,
h2,
h3 {
  cursor: default;
}

button {
  background: transparent;
}
button:focus {
  outline: none;
}

.logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border: 0;
}
.logo:hover {
  opacity: 60%;
}
.logo:active {
  opacity: 30%;
}

.container {
  width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {
  position: relative;
  margin-top: 40px;
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 50px;
  z-index: 1;
}
.main::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  height: 299px;
  background-color: #f8e295;
  top: 0;
  right: 0;
  left: 0;
}

.menu {
  display: flex;
}

.btn {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.input__field {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
}
.input__field:hover {
  opacity: 60%;
}
.input__field:focus {
  outline: none;
}

.btn__icon {
  vertical-align: middle;
}
.btn__img {
  cursor: pointer;
}
.btn__text {
  padding-left: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  opacity: 60%;
}

.link {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 160px;
}
.link:hover {
  opacity: 60%;
}
.link:active {
  opacity: 30%;
}

.menu__cell {
  width: 50%;
}

.menu__row {
  display: flex;
}

.account {
  margin-right: auto;
  margin-left: 15px;
}

.contact {
  margin-left: auto;
  margin-right: 7px;
}

.menu__row:last-child {
  margin-top: 43px;
}

.cart {
  padding-left: 38px;
  padding-right: 10px;
}

.delivery {
  padding-left: 17px;
}

.guarantee {
  padding-left: 35px;
}

.catalog__submenu {
  background: none;
  border: 0;
  margin: 0;
}

.catalog {
  padding-top: 44px;
  position: relative;
}

.catalog__submenu:hover .submenu {
  opacity: 1;
  pointer-events: all;
}

.submenu__link:last-child {
  justify-content: flex-start;
}

.submenu__item {
  height: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.submenu__link {
  font-family: "Open Sans";
  font-weight: 300;
}
.submenu__link:hover {
  opacity: 60%;
}
.submenu__link:active {
  opacity: 30%;
}
.input__field:hover {
  opacity: 60%;
}
.input__field:active {
  opacity: 30%;
}
.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1100px;
  background-color: #f8e295;
  height: 163px;
  top: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}

.submenu__items:first-child {
  padding-left: 0;
}

.submenu__items {
  padding-left: 60px;
}

.submenu__item {
  padding-bottom: 10px;
}

.slider {
  padding-top: 52px;
  margin: 0;
  counter-reset: slider;
}

.slider__cell {
  width: 50%;
  counter-reset: slider;
}

.slider__cell:last-child {
  position: relative;
  padding-left: 15px;
  padding-top: 45px;
}

.slider__cell:last-child::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: white;
  top: 20px;
}
.slider__cell:last-child::before {
  counter-increment: slider;
  content: "0" counter(slider);
  position: absolute;
  font-size: 150px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Open Sans";
  right: 20px;
  z-index: -1;
  top: -40px;
}
.slider__text {
  margin: 0;
  padding-top: 30px;
}
.slider__title {
  margin: 0;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Open Sans";
  line-height: 57px;
}

.slider__paragragh {
  padding-top: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 30px;
  font-size: 15px;
}
.slider__details {
  padding-top: 40px;
}
.slider__link {
  width: 220px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.slider__link::before {
  content: "";
  width: 220px;
  display: block;
  position: absolute;
  background-color: #f0c52e;
  height: 8px;
  top: 8px;
  z-index: -1;
}

.slider__img {
  width: 526px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.slider__feature {
  display: flex;
  justify-content: flex-start;
  padding-top: 90px;
}
.feature {
  padding-right: 50px;
}

.slider__dots {
  position: absolute;
  right: 85px;
  top: 500px;
  display: flex;
}
.dot {
  position: relative;
  cursor: pointer;
  margin: 0 2px;
  border-radius: 50%;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  transition: background-color 0.6s ease;
}
.dot.active:before {
  content: "";
  display: block;
  border-radius: 50%;
  border: 1px solid #000;
  width: 30%;
  height: 30%;
  align-self: center;
}

.feature__title {
  margin: 0;
  font-size: 37px;
  font-weight: 300;
  font-family: "Open Sans";
}

.feature__text {
  margin: 0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
}

.popular {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.popular__img {
  background-color: #f8e295;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular__cell:hover {
  opacity: 60%;
}
.popular__cell:active {
  opacity: 30%;
}
.img__centre {
  margin: 0;
}
.popular__text {
  padding-top: 15px;
  margin: 0;
  font-family: "Open Sans";
  font-size: 18px;
}

.tab {
  position: relative;
  z-index: 1;
  top: 100px;
}

.tab::after {
  position: absolute;
  background-color: #e5e5e5;
  height: 288px;
  content: "";
  left: 0;
  right: 0;
  top: 100px;
  width: 100%;
  z-index: -1;
}

.tab__wrapper {
  height: 319px;
  display: flex;
}

.tab__btn {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  flex-direction: column;
  width: 278px;
  padding-top: 70px;
  padding-bottom: 69px;
}

.tab__divider {
  position: relative;
  height: 40px;
  border: none;
  outline: none;
  transition: 0.1s;
  z-index: 1;
  padding: 0;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding-right: 100px;
}

.tab__divider.active {
  background-color: rgb(0, 0, 0);
  color: #f0c52e;
  z-index: auto;
}

.tab__divider::before {
  content: "";
  width: 160px;
  display: block;
  position: absolute;
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.tab__content {
  padding: 0px 12px;
  border-left: 7px solid rgb(0, 0, 0);
  flex-grow: 1;
  align-items: center;
}

.tab__img {
  padding-top: 20px;
}

.tab__section {
  padding: 30px;
  justify-content: space-between;
}
.tab__title {
  margin: 0;
  font-size: 42px;
  letter-spacing: 3px;
  font-family: "Open Sans";
}

.tab__paragraph {
  margin: 0;
  padding-top: 40px;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 30px;
}
