@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/web/opensanslight.woff2") format("woff2"),
    url("../fonts/web/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/web/opensans.woff2") format("woff2"),
    url("../fonts/web/opensans.woff") format("woff");
}

body {
  margin: 0;
  /* background-image: url(../maket/preview/device-index.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: top center; */
  font-family: "Open Sans";
  counter-reset: section;
}

a {
  text-decoration: none;
  color: #000;
}
button:focus {
  outline: none;
}

.logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border: 0;
}
.logo:hover {
  opacity: 60%;
}
.logo:active {
  opacity: 30%;
}

.container {
  width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {
  position: relative;
  margin-top: 40px;
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 50px;
  z-index: 1;
}
.main::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  height: 299px;
  background-color: #f8e295;
  top: 0;
  right: 0;
  left: 0;
}

.menu {
  display: flex;
}

.btn {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.input__field {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
}
.input__field:hover {
  opacity: 60%;
}
.input__field:focus {
  outline: none;
}

.btn__icon {
  vertical-align: middle;
}
.btn__text {
  padding-left: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  border: 0;
}
.btn__text:hover {
  opacity: 60%;
}

.link {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.link:hover {
  opacity: 60%;
}
.link:active {
  opacity: 30%;
}

.menu__cell {
  width: 50%;
}

.menu__row {
  display: flex;
}

.account {
  margin-right: auto;
  margin-left: 15px;
}

.contact {
  margin-left: auto;
  margin-right: 7px;
}

.menu__row:last-child {
  margin-top: 43px;
}

.cart {
  padding-left: 38px;
  padding-right: 10px;
}

.delivery {
  padding-left: 17px;
}

.guarantee {
  padding-left: 35px;
}

.catalog__submenu {
  background: none;
  border: 0;
  margin: 0;
}

.catalog {
  padding-top: 44px;
  position: relative;
}

.catalog:hover .submenu {
  opacity: 1;
  pointer-events: all;
}

.submenu__link:last-child {
  justify-content: flex-start;
}

.submenu__item {
  height: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.submenu__link {
  font-family: "Open Sans";
  font-weight: 300;
}
.submenu__link:hover {
  opacity: 60%;
}
.submenu__link:active {
  opacity: 30%;
}
.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1100px;
  background-color: #f8e295;
  height: 163px;
  top: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}

.submenu__items:first-child {
  padding-left: 0;
}

.submenu__items {
  padding-left: 60px;
}

.submenu__item {
  padding-bottom: 10px;
}

.slider {
  transform: none;
  padding-top: 52px;
  margin: 0;
  display: flex;
}

.slider__wrapper {
  width: 50%;
}

.slider__item {
  padding-top: 50px;
  position: relative;
  counter-reset: heading;
}

.slider__item::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: white;
  top: 37px;
  left: 15px;
}

.slider__counter {
  position: absolute;
  font-size: 150px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Open Sans";
  right: 0;
  top: 15px;
  transform: translateY(-50px);
  z-index: -1;
}

.slider__title {
  margin: 0;
  padding-left: 15px;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Open Sans";
  line-height: 57px;
  padding-top: 30px;
}

.slider__text {
  margin: 0;
  padding-top: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 30px;
  padding-left: 15px;
}

.slider__details {
  display: flex;
}

.slider__link {
  width: 220px;
  z-index: 1;
  position: relative;
  top: 50px;
  text-align: center;
  padding-left: 15px;
}

.slider__link::before {
  content: "";
  width: 220px;
  display: block;
  position: absolute;
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.slider__dots {
  position: absolute;
  right: 100px;
  top: 510px;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: rgb(253, 253, 253);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid black;
}

.slider__feature {
  display: flex;
  position: relative;
  top: 105px;
  justify-content: space-between;
  width: 400px;
}
.slider__img {
  width: 526px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 7px;
}

.feature__title {
  margin: 0;
  padding-left: 15px;
  font-size: 37px;
  font-weight: 300;
  font-family: "Open Sans";
}

.feature__text {
  margin: 0;
  padding-top: 10px;
  font-family: "Open Sans";
  padding-left: 15px;
  font-size: 12px;
  font-weight: 300;
}

.popular {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.popular__img {
  background-color: #f8e295;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular__img:hover {
  background-color: #f0c52e;
}
.popular__img:active {
  background-color: #f0c52e;
  opacity: 30%;
}
.img__centre {
  margin: 0;
}
.popular__text {
  padding-top: 15px;
  margin: 0;
  font-family: "Open Sans";
  font-size: 18px;
}

.tab {
  position: relative;
  z-index: 1;
  top: 65px;
}
.tab::after {
  position: absolute;
  background-color: #e5e5e5;
  height: 288px;
  content: "";
  left: 0;
  right: 0;
  top: 100px;
  width: 100%;
  z-index: -1;
}
.tab__wrapper {
  height: 319px;
  display: flex;
  border: 1px solid rgb(177, 75, 75);
}

.tab__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 434px;
  background-color: none;
}
.tab__links {
  position: relative;
  padding: 22px 16px 22px 0;
  width: 160px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.tab__links::before {
  content: "";
  width: 160px;
  display: block;
  position: absolute;
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.active {
  background-color: rgb(0, 0, 0);
  color: #f0c52e;
}

.tab__content {
  padding: 0px 12px;
  border-left: 7px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.content {
  padding: 30px;
}
.content__text_title {
  margin: 0;
  font-size: 42px;
  letter-spacing: 3px;
  font-family: "Open Sans";
}
.content__text_paragraph {
  margin: 0;
  padding-top: 40px;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 30px;
}
